.Loading{
    color:rgb(3, 3, 3);
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    top: 0;
    left : 0;
    display: flex;
    border: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: large;
    text-shadow: 0 0 2px red;
    font-size: 50px;
    backdrop-filter: blur(3px);
}
.img{
    max-width: 70vw;
    max-height: 90vw;
}